header {
  background-color: #eee;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5em;

  a {
    color: inherit;
    text-decoration: inherit;

    display: flex;
    align-items: center;
    gap: 0.5em;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    height: 2.5em;
  }

  span {
    font-size: 1.4em;
  }

  button {
    background-color: #ddd;

    border: 0.1em solid #ddd;

    &:hover {
      background-color: #ccc;
      border-color: #ccc;
    }

    &:active {
      background-color: #bbb;
      border-color: #bbb;
    }
  }
}
