footer {
  background-color: #eee;
  height: 3em;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;

  a {
    color: inherit;
    text-decoration: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
