<main>
  <h1>Liste des articles</h1>
  <div>
    <nav>
      <button>Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.45 €</td>
          <td class="qty">134</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.45 €</td>
          <td class="qty">2</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">11.45 €</td>
          <td class="qty">134</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.45 €</td>
          <td class="qty">45</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
