<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, quam deserunt?
    Sit itaque aperiam quo animi nisi? Consequatur eveniet maxime facere nemo
    qui magni voluptatem assumenda. Veniam sunt impedit dignissimos?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore delectus
    provident, totam corporis laboriosam culpa, est autem aperiam aliquam
    dolores impedit minima sequi doloribus esse molestiae, nesciunt iste! Illo,
    tempora.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore delectus
    provident, totam corporis laboriosam culpa, est autem aperiam aliquam
    dolores impedit minima sequi doloribus esse molestiae, nesciunt iste! Illo,
    tempora.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A non, accusamus
    architecto ducimus voluptatum quia! Esse officiis quo, perferendis quod
    maiores iusto eius beatae, sed fuga odio, aperiam ipsum sunt.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorem ea
    ipsum tempora quasi, reprehenderit laudantium vitae placeat aperiam culpa
    labore ab eum, illum facilis provident dolorum inventore ducimus fugit?
  </p>
</main>
