/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
}

button {
  padding: 0.5em 1em;
  background-color: #eee;
  border: 0.1em solid #eee;
  color: gray;

  &:not(:disabled) {
    cursor: pointer;
    color: inherit;

    &:hover {
      background-color: #ddd;
      border-color: #ddd;
    }

    &:active {
      background-color: #ccc;
      border-color: #ccc;
    }

    &.primary {
      background-color: #333;
      border-color: #333;
      color: white;

      &:hover {
        background-color: #444;
        border-color: #444;
      }

      &:active {
        background-color: #555;
        border-color: #555;
      }
    }
  }
}

h1 {
  text-align: center;
}

.skeleton {
  animation: skeleton 2s ease-in-out 0s infinite;
  background-clip: content-box;
}

@keyframes skeleton {
  from {
    background-color: #ddd;
    color: #ddd;
  }
  50% {
    background-color: #ccc;
    color: #ccc;
  }
  to {
    background-color: #ddd;
    color: #ddd;
  }
}

form {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
  width: 100%;
  max-width: 25em;

  label {
    input {
      border: 0.1em solid #ccc;
      padding: 0.5em 1em;
      width: 100%;
      &.ng-invalid.ng-touched {
        background-color: #eee;
      }
    }

    div {
      height: 1.1em;
      overflow: hidden;
      ul {
        display: flex;
        flex-flow: column;

        margin: 0;
        padding: 0;
        font-weight: bold;
        li {
          display: flex;
        }
      }
    }
  }

  button {
    margin-top: 3em;
  }
}
