/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";

@import "./scss/form.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
}

button {
  padding: 0.5em 1em;
  background-color: #eee;
  border: 0.1em solid #eee;
  color: gray;

  &:not(:disabled) {
    cursor: pointer;
    color: inherit;

    &:hover {
      background-color: #ddd;
      border-color: #ddd;
    }

    &:active {
      background-color: #ccc;
      border-color: #ccc;
    }

    &.primary {
      background-color: #333;
      border-color: #333;
      color: white;

      &:hover {
        background-color: #444;
        border-color: #444;
      }

      &:active {
        background-color: #555;
        border-color: #555;
      }
    }
  }
}

h1 {
  text-align: center;
}

.skeleton {
  animation: skeleton 2s ease-in-out 0s infinite;
  background-clip: content-box;
}

@keyframes skeleton {
  from {
    background-color: #ddd;
    color: #ddd;
  }
  50% {
    background-color: #ccc;
    color: #ccc;
  }
  to {
    background-color: #ddd;
    color: #ddd;
  }
}

.mobile {
  header button {
    font-size: 0.8em;
  }
}
